.custom-carousel-container {
    display: flex;
    justify-content: center;
    background-color: black;
    border: 1px solid white;
    padding: 10px; /* 可根据需要调整内边距大小 */
}

.custom-carousel-container .carousel {
    width: 50%;
}

@media (max-width: 600px) {
    .custom-carousel-container .carousel {
        width: 100%;
    }
}
