.social-media-container {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center; /* Center align the content */
}

.social-media-container h1 {
  font-size: 24px; /* Adjust the font size */
  margin-bottom: 10px; /* Add some spacing below the heading */
}

.social-media-container p {
  font-size: 18px; /* Adjust the font size */
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Add some spacing above the social links */
}

.social-links a {
  color: white;
  margin-right: 10px;
  font-size: 18px;
  text-decoration: none;
  font-family: Arial, sans-serif; /* Specify the font family */
  font-weight: bold; /* Make the font bold */
  text-transform: uppercase; /* Convert the text to uppercase */
}

.social-links a:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  .social-media-container h1 {
      font-size: 20px;
  }

  .social-media-container p {
      font-size: 16px;
  }

  .social-links a {
      font-size: 16px;
  }
}
